* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    border-radius: 0;
    background: transparent;
    color: black;
    font: inherit;
    cursor: default;
    bos-sizing: border-box;
}

*::-moz-focus-inner {
    padding: 0;
    border: 0;
}

body {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    font: normal 15px/25px sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
}

fieldset {
    border: 1px solid #bbb;
    padding: 20px;
    margin-top: 20px;
}

legend {
    font-weight: bold;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #eee;
}

img {
    background-color: #eee;
    vertical-align: top;
}

button {
    background-color: #ccc;
    cursor: pointer;
    padding: 5px 8px;
    width: 80px;
}

input {
    cursor: text;
    background-color: #eee;
    width: 300px;
    padding: 4px 8px;
    border: 1px solid #aaa;
}

.next {
    margin-top: 10px;
}

.withButton {
    width: 210px;
    margin-right: 10px;
}
